<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<link rel="stylesheet" href="statics/index.css">
	<script type="text/javascript">
		function displayTime() {
			var currentTime = new Date();
			var hours = currentTime.getHours();
			var minutes = currentTime.getMinutes();
			if (minutes < 10) {
				minutes = "0" + minutes;
			}
			var timeString = hours + ":" + minutes + " ";
			document.getElementById("clock").innerHTML = timeString;
		}
		setInterval(displayTime, 1000);
	</script>
</head>
<body>
	<div class="container">
		<h1>Home page (Index)</h1>
		<p>این صفحه ی اصلی سایت است که با فریم ورک جنگو در حال راه اندازیست</p>
		<p id="clock"></p>
		<p class="credit">طراحی شده توسط :  <span>Mohammad Mahdi</span></p>
	</div>
</body>
</html>