<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test-view</title>
    <style>
        div{
            width: 300px;
            padding: 20px;
            border: 3px solid white;
            border-radius: 10px;
            text-align: center;
            margin: auto;
            margin-top: 150px;
        }
        *{
            background-color: #ccc;
        }
    </style>
</head>
<body>
    <form action="{% url 'website:test' %}" method="post">
        {% csrf_token %}
        <div>
            <!-- <label for="">name: </label>
            <input type="text" name="name"><br><br>
            <label>email: </label>
            <input type="email" name="email"><br><br>
            <label>subject: </label>
            <input type="text" name="subject"><br><br>
            <label>message: </label>
            <input type="text" name="message"><br><br> -->
            {{ form.as_p }}
            <button type="submit">submit</button>
        </div>
    </form>
</body>
</html>