{% load blog_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1{
            text-align: center;
            color: blue;
            border: solid 5px gold;
            border-radius: 40px 0px 40px 0px ;
            padding: 5px;
        }
        body{
            margin: 30px;
        }
        p{
            font-size: large;
            font-family: 'Courier New', Courier, monospace;
        }
    </style>
</head>
<body>
    <h1>This is the test HTML</h1>
    <hr/>
    <p>The page loaded in {% function %}</p>
    <hr/>
    <p>Blog post Counter : {% total_post as tp %}{{tp}}</p>
    <hr/>

    {% for post in post %}
    <p>{{post}}</p>
    {% endfor %}
</body>
</html>