<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>About</title>
    </head>
    <body>
        <h1>this is about me html page</h1>
        <br/>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla aut natus repudiandae modi culpa dolorem et voluptatem molestiae quam minus voluptate doloribus debitis, velit ad repellendus perspiciatis facilis expedita at harum quasi illo iste dolores reiciendis. Nam, facere nobis libero illum amet aut, aperiam alias perspiciatis aspernatur veritatis ea consequatur?</p>
    </body>
</html>